@layer vocs_preflight {
    @tailwind base;
}

@tailwind components;
@tailwind utilities;


.vocs_Footer {
    display: none !important;
}

.vocs_Content {
    @apply !min-h-[calc(100vh-400px)];
}

/* .google-translate-select-dropdown__menu {
    top: calc(100% - 400px) !important;
} */
.vocs_DocsLayout_content {
    min-height: calc(100vh - 120px) !important;
}

.google-translate-select-dropdown__activator {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 10px;
    line-height: 35px;
}


.google-translate-select-icon {
    --color: inherit;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
    font-size: inherit;
    line-height: 1em;
    color: var(--color);
    fill: currentcolor;
}

.google-translate-select-icon svg {
    width: 1em;
    height: 1em;
}

.google-translate-select-language {
    white-space: nowrap;
}

.google-translate-select-dropdown__menu {
    bottom: 100%;
    top: initial !important;
}

.custom-footer {
    z-index: 999;
    position: relative;
    padding-top: 10px;
    padding-left: calc(max(calc((100vw - var(--vocs-content_width)) / 2), var(--vocs-sidebar_width)) - var(--vocs-sidebar_width));
    padding-right: calc(max(calc((100vw - var(--vocs-content_width)) / 2), var(--vocs-sidebar_width)) - var(--vocs-sidebar_width));

}

html.dark .logo_Footer {
    background-image: url('/logo.svg') !important;
}

html .logo_Footer {
    background-image: url('/logo-light.svg') !important;
}